<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="popup" id="popup">
          <i class="material-icons" id="basketball">sports_basketball</i>
          <h3>How To Play Player Path</h3>
          <p>The rules of the game are simple. Please guess a player that has played for the teams
            in the order shown in the picture. You will have 3 attempts to guess the right answer until 
            the game is over. There can be multiple right answers for a series of teams however, answers 
            will only consist of active NBA players. If you get it right, you will see a new set of 
            teams with a new player to guess. The game continues until you get 3 incorrect answers. Good luck!</p>
          <button type="button" onclick="location.href='./'">Get First Player!</button>
        </div>
    </div>
    <script src="../static/autocomplete.js"></script>
</body>
</html>